<Layouts.app flash={@flash}>
  <h1 class="text-2xl font-bold mb-2">Info</h1>

  <div>
    <h2 class="text-xl font-semibold">User Agent</h2>
    <pre>{@user_agent |> Jason.encode!(pretty: true)}</pre>
  </div>

  <div class="bg-blue-200 mt-4 p-4 rounded-lg">
    <h2 class="text-xl font-semibold">UI playground</h2>
    <div class="p-4 border rounded-lg bg-gray-50 dark:bg-gray-800">
      <button class="btn btn-primary">Primary Button</button>
      <button class="btn btn-secondary">Secondary Button</button>
      <button class="btn btn-accent">Accent Button</button>
      <button class="btn btn-ghost">Ghost Button</button>
      <button class="btn btn-link">Link Button</button>
    </div>
  </div>
</Layouts.app>
