<Layouts.app flash={@flash}>
  <div>
    <h2 class="text-xl font-semibold">Just test</h2>

    <div class="apply-test text-red-400">build a clss with tailwindcss @apply diretive</div>
  </div>
</Layouts.app>
