<div class="bg-slate-300">
  Test
</div>

<div></div>
<input type="email" class="block form-input px-4 py-3 rounded-full" />
<input type="email" class="block px-4 py-3 rounded-full" />

<select class="form-select px-4 py-3 rounded-full">
  <!-- ... -->
</select>

<input type="checkbox" class="form-checkbox rounded text-pink-500" />
