<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Slink" suffix=" · Share up links">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {

        // const defaultTheme = "system";
        const defaultTheme = "light";
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || defaultTheme);
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || defaultTheme));
        window.addEventListener("phx:set-theme", ({ detail: { theme } }) => setTheme(theme));

        const toggleTheme = () => {
          theme = document.documentElement.getAttribute("data-theme")||defaultTheme;
          if (theme === "dark") {
            toTheme = "light";
          } else {
            toTheme = "dark";
          }
          //console.log("toggling to theme: " + toTheme)
          setTheme(toTheme);
        };
        window.addEventListener("phx:toggle-theme", () => toggleTheme());
      })();
    </script>
  </head>

  <body>
    {@inner_content}
  </body>
</html>
